.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

body{
  height: 100%;
  width: 100%;
  background: #F6F3D8;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden; /* Hide scrollbars */
  overflow-y: hidden; /* Hide scrollbars */
  position: relative;
}

.main-component{
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #F6F3D8;
  backdrop-filter: blur(8px);
}

.second-component{
  background-color: #F6F3D8;
  width: 100px;
}